* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.library-header {
    text-align: center;
}

.library-container {
    width: 100%;
}

.new-book-container {
    width: 100vw;
    position: fixed;
    top: 10vh;
}

.new-book-form {
    margin: auto;
    padding: 30px 50px;
    width: 50vw;
    max-width: 450px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    border: solid 1px gray;
}

.new-book-form h2 {
    padding: 0 0 20px 0;
    text-align: center;
}

.new-book-form input {
    width: 100%;
    padding: 7px 10px;
    margin: 8px 0 16px 0;
    border-radius: 4px;
    outline: none;
    border: solid 1px gray;
}

select {
    width: 100%;
    padding: 7px 10px;
    margin: 8px 0 16px 0;
    border-radius: 4px;
    outline: none;
    border: solid 1px gray;
}

.new-book-btns {
    display: flex;
    width: 100%;
}

#add-book-btn,
#clear-fields-btn {
    padding: 7px 10px;
    margin-top: 16px;
    background: #fff;
    outline: none;
    border: solid 1px gray;
    border-radius: 4px;
    transition: 0.3s;
}

#add-book-btn {
    width: 60%;
}

#clear-fields-btn {
    width: 40%;
    margin-left: 10px;
}

#add-book-btn:hover {
    background: #36BA05;
    color: #fff;
    border: solid 1px #fff;
}

#clear-fields-btn:hover {
    background: #E21801;
    color: #fff;
    border: solid 1px #fff;
}

.close-book-form {
    width: 100%;
    position: absolute;
    top: 6px;
    left: 7px;
}

#addBook {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #fff;
    color: darkgray;
    border: solid 1px gray;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.2s;
}

#addBook:hover {
    /* animation: fa-spin 2s infinite linear; */
    transform: rotate(90deg);
    background-color: #2196f3;
    color: #fff;
    border: solid 1px #2196f3;
}

.display-none {
    display: none;
}

.background-blur {
    filter: blur(5px);
    /* background-color: gray; */
}